<a href="https://colab.research.google.com/github/Mayank0195/Capstone_Project_ML_Regression_Retail_Sales_Prediction/blob/main/Retail_Sales_Prediction_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("whitegrid")
import sklearn
import warnings
warnings.filterwarnings("ignore")

In [4]:
# importing drive on the colab notebook for the easy access of the data provided 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importing the pathway for the Rossmann Stores Data.csv
df1 = pd.read_csv('/content/drive/MyDrive/AlmaBetter/Capstone_Project_ML_Regression/results.csv')
df1.head()

In [ ]:
df2 = df1.copy()

In [ ]:
df1.info()

In [ ]:
df2 = df2.drop(['Date'], axis = 1)

In [ ]:
df2.head()

## **6. Store Sales Prediction**

In [ ]:
dfd = df2.sample(n=50000, random_state=1)

In [ ]:
# split features and labels
X = dfd.drop('Sales', axis=1)
y = dfd. Sales

In [ ]:
# get dummy variables for categorical features for linear regression
xd = X.copy()
xd = pd.get_dummies(xd)
xl = X.copy()

In [ ]:
# label nominal variables for tree based regression
xl = X.copy()

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
xl.StateHoliday = label.fit_transform(xl.StateHoliday)
xl.Assortment = label.fit_transform(xl.Assortment)
xl.StoreType = label.fit_transform(xl.StoreType)

In [ ]:
from sklearn.model_selection import train_test_split
xd_train,xd_test,yd_train,yd_test = train_test_split(xd,y,test_size=0.3, random_state=1)
xl_train,xl_test,yl_train,yl_test = train_test_split(xl,y,test_size=0.3, random_state=1)

In [ ]:
xd_train.head()

In [ ]:
xd_test.head()

In [ ]:
#metrics import
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

## **6.1 Linear Regression (OLS)**

In [ ]:
from sklearn.linear_model import LinearRegression
lin= LinearRegression()
linreg = lin.fit(xd_train, yd_train)

In [ ]:
# definte RMSE function
from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(x, y):
    return sqrt(mean_squared_error(x, y))

# definte MAPE function
def mape(x, y): 
    return np.mean(np.abs((x - y) / x)) * 100  
  
# get cross validation scores 
yd_predicted = linreg.predict(xd_train)
yd_test_predicted = linreg.predict(xd_test)

a = linreg.score(xd_train, yd_train)
b = linreg.score(xd_test, yd_test)
c = rmse(yd_train, yd_predicted)
d = rmse(yd_test, yd_test_predicted)
e = mape(yd_train, yd_predicted)
f = mape(yd_test, yd_test_predicted)
g = round(r2_score(yd_train, yd_predicted),6)
h = round(r2_score(yd_test, yd_test_predicted),6)
i = round(1 - (1-r2_score(yd_train, yd_predicted)) * (len(yd_train)-1)/(len(yd_train)-xd_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yd_test, yd_test_predicted)) * (len(yd_test)-1)/(len(yd_test)-xd_test.shape[1]-1),6)

print("Regression Model Score" , ":" , a , "," ,
      "Out of Sample Test Score" ,":" , b)
print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['LinearRegression', a, b, c, d, e, f, g, h, i, j]
df_1= dict(zip(comparison_columns,metric_scores))

In [ ]:
df_1

## **6.2 Bayesian Ridge Regression**

In [ ]:
from sklearn.linear_model import BayesianRidge
rdg = BayesianRidge()
rdgreg = rdg.fit(xd_train, yd_train)

In [ ]:
# validation

yd_predicted = rdgreg.predict(xd_train)
yd_test_predicted = rdgreg.predict(xd_test)

a = rdgreg.score(xd_train, yd_train)
b = rdgreg.score(xd_test, yd_test)
c = rmse(yd_train, yd_predicted)
d = rmse(yd_test, yd_test_predicted)
e = mape(yd_train, yd_predicted)
f = mape(yd_test, yd_test_predicted)
g = round(r2_score(yd_train, yd_predicted),6)
h = round(r2_score(yd_test, yd_test_predicted),6)
i = round(1 - (1-r2_score(yd_train, yd_predicted)) * (len(yd_train)-1)/(len(yd_train)-xd_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yd_test, yd_test_predicted)) * (len(yd_test)-1)/(len(yd_test)-xd_test.shape[1]-1),6)

print("Regression Model Score" , ":" , a , "," ,
      "Out of Sample Test Score" ,":" , b)
print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['BayesianRidge', a, b, c, d, e, f, g, h, i, j]
df3= dict(zip(comparison_columns,metric_scores))

In [ ]:
df3

In [ ]:
df_1 = pd.DataFrame([df_1])

In [ ]:
df_1

In [ ]:
df3 = pd.DataFrame([df3])

In [ ]:
comparison_df1 = df_1.merge(df3, how='outer')
comparison_df1

## **6.3 LARS Lasso Regression**

In [ ]:
from sklearn.linear_model import LassoLars
las = LassoLars(alpha=0.3, fit_intercept=False, normalize=True)
lasreg = las.fit(xd_train, yd_train)

In [ ]:
print("Regresion Model Score" , ":" , lasreg.score(xd_train, yd_train) , "," ,
      "Out of Sample Test Score" ,":" , lasreg.score(xd_test, yd_test))

yd_predicted = lasreg.predict(xd_train)
yd_test_predicted = lasreg.predict(xd_test)

a = lasreg.score(xd_train, yd_train)
b = lasreg.score(xd_train, yd_train)
c = rmse(yd_train, yd_predicted)
d = rmse(yd_test, yd_test_predicted)
e = mape(yd_train, yd_predicted)
f = mape(yd_test, yd_test_predicted)
g = round(r2_score(yd_train, yd_predicted),6)
h = round(r2_score(yd_test, yd_test_predicted),6)
i = round(1 - (1-r2_score(yd_train, yd_predicted)) * (len(yd_train)-1)/(len(yd_train)-xd_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yd_test, yd_test_predicted)) * (len(yd_test)-1)/(len(yd_test)-xd_test.shape[1]-1),6)

print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['LassoLars', a, b, c, d, e, f, g, h, i, j]
df3= dict(zip(comparison_columns,metric_scores))

In [ ]:
df3 = pd.DataFrame([df3])

In [ ]:
comparison_df1 = comparison_df1.merge(df3, how='outer')
comparison_df1

## **6.4 Decision Tree Regression**

In [ ]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor(min_samples_leaf=20)
treereg = tree.fit(xl_train, yl_train)

In [ ]:
a = treereg.score(xl_train, yl_train)
b = treereg.score(xl_test, yl_test)

print("Regresion Model Score" , ":" , a , "," ,
      "Out of Sample Test Score" ,":" , b)   

yl_predicted = treereg.predict(xl_train)
yl_test_predicted = treereg.predict(xl_test)

c = rmse(yl_train, yl_predicted)
d = rmse(yl_test, yl_test_predicted)
e = mape(yl_train, yl_predicted)
f = mape(yl_test, yl_test_predicted)
g = round(r2_score(yl_train, yl_predicted),6)
h = round(r2_score(yl_test, yl_test_predicted),6)
i = round(1 - (1-r2_score(yl_train, yl_predicted)) * (len(yl_train)-1)/(len(yl_train)-xl_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yl_test, yl_test_predicted)) * (len(yl_test)-1)/(len(yl_test)-xl_test.shape[1]-1),6)

print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['DecisionTreeRegressor', a, b , c, d, e, f, g, h, i, j]
df4 = dict(zip(comparison_columns,metric_scores))

In [ ]:
df4 = pd.DataFrame([df4])

In [ ]:
df4

In [ ]:
comparison_df1 = comparison_df1.merge(df4, how='outer')
comparison_df1

## **6.5 Random Forest Regression**

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rdf = RandomForestRegressor(n_estimators=30)
rdfreg = rdf.fit(xl_train, yl_train)

In [ ]:
a = rdfreg.score(xl_train, yl_train)
b = rdfreg.score(xl_test, yl_test)

print("Regresion Model Score" , ":" , a , "," ,
      "Out of Sample Test Score" ,":" , b)   

yl_predicted = rdfreg.predict(xl_train)
yl_test_predicted = rdfreg.predict(xl_test)

yl_predicted = treereg.predict(xl_train)
yl_test_predicted = treereg.predict(xl_test)


c = rmse(yl_train, yl_predicted)
d = rmse(yl_test, yl_test_predicted)
e = mape(yl_train, yl_predicted)
f = mape(yl_test, yl_test_predicted)
g = round(r2_score(yl_train, yl_predicted),6)
h = round(r2_score(yl_test, yl_test_predicted),6)
i = round(1 - (1-r2_score(yl_train, yl_predicted)) * (len(yl_train)-1)/(len(yl_train)-xl_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yl_test, yl_test_predicted)) * (len(yl_test)-1)/(len(yl_test)-xl_test.shape[1]-1),6)

print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['RandomForestRegressor', a, b, c, d, e, f, g, h, i, j]
df5= dict(zip(comparison_columns,metric_scores))

In [ ]:
df5 = pd.DataFrame([df5])

In [ ]:
comparison_df1 = comparison_df1.merge(df5, how='outer')
comparison_df1

## **6.6 K-Nearest Neighbors Regression**

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 10)
knnreg = knn.fit(xd_train, yd_train)

In [ ]:
a = knnreg.score(xd_train, yd_train)
b =  knnreg.score(xd_test, yd_test)

print("Regresion Model Score" , ":" , a , "," ,
      "Out of Sample Test Score" ,":" ,b)

yd_predicted = knnreg.predict(xd_train)
yd_test_predicted = knnreg.predict(xd_test)

c = rmse(yd_train, yd_predicted)
d = rmse(yd_test, yd_test_predicted)
e = mape(yd_train, yd_predicted)
f = mape(yd_test, yd_test_predicted)
g = round(r2_score(yd_train, yd_predicted),6)
h = round(r2_score(yd_test, yd_test_predicted),6)
i = round(1 - (1-r2_score(yd_train, yd_predicted)) * (len(yd_train)-1)/(len(yd_train)-xd_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yd_test, yd_test_predicted)) * (len(yd_test)-1)/(len(yd_test)-xd_test.shape[1]-1),6)

print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['KNeighborsRegressor', a, b, c, d, e, f, g, h, i, j]
df6 = dict(zip(comparison_columns,metric_scores))

In [ ]:
for x in range(1,10):
    knn = KNeighborsRegressor(n_neighbors = x)
    knnreg = knn.fit(xd_train, yd_train)
    print("Regresion Model Score" , ":" , knnreg.score(xd_train, yd_train) , "," ,
      "Out of Sample Test Score" ,":" , knnreg.score(xd_test, yd_test))

In [ ]:
df6 = pd.DataFrame([df6])

In [ ]:
comparison_df1 = comparison_df1.merge(df6, how='outer')
comparison_df1

## **6.7 Random Forest Regression Tuned**

 In this we have done the hyperparamtere tunning of Random Forest to get the best parameters and to use these parameters to tune the regresssion model that will helps us to get best results.

In [ ]:
# Create model
rf_tuned = RandomForestRegressor()

In [ ]:
#import
from sklearn.model_selection import RandomizedSearchCV
#grid
random_grid = {'bootstrap': [True, False],
 'max_depth': [ 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 8],
 'n_estimators': [100, 130, 150]}

rf_random = RandomizedSearchCV(estimator = rf_tuned, param_distributions = random_grid, n_iter = 10, cv = 3, verbose=2, random_state=42)

#fitting
rf_random.fit(xl_train,yl_train)

In [ ]:
#best para
rf_random.best_params_

In [ ]:
#save the best parameters
random_t = rf_random.best_estimator_

In [ ]:
#using the best parameter to tune the Random Forest Regresion to make it a Tuned random Forest
from sklearn.ensemble import RandomForestRegressor
rdf = RandomForestRegressor(n_estimators=130, max_depth = 90, bootstrap=False, max_features='sqrt', min_samples_leaf=1, min_samples_split= 8)
rdfreg = rdf.fit(xl_train, yl_train)

In [ ]:
a = rdfreg.score(xl_train, yl_train)
b = rdfreg.score(xl_test, yl_test)

print("Regresion Model Score" , ":" , a , "," ,
      "Out of Sample Test Score" ,":" , b)   

yl_predicted = rdfreg.predict(xl_train)
yl_test_predicted = rdfreg.predict(xl_test)

c = rmse(yl_train, yl_predicted)
d = rmse(yl_test, yl_test_predicted)
e = mape(yl_train, yl_predicted)
f = mape(yl_test, yl_test_predicted)
g = round(r2_score(yl_train, yl_predicted),6)
h = round(r2_score(yl_test, yl_test_predicted),6)
i = round(1 - (1-r2_score(yl_train, yl_predicted)) * (len(yl_train)-1)/(len(yl_train)-xl_train.shape[1]-1),6)
j = round(1 - (1-r2_score(yl_test, yl_test_predicted)) * (len(yl_test)-1)/(len(yl_test)-xl_test.shape[1]-1),6)

print("Training RMSE", ":", c,
      "Testing RMSE", ":", d)
print("Training MAPE", ":", e,
      "Testing MAPE", ":", f)
print("R2_train" , ":" , g , "," ,
      "R2_test" ,":" , h)
print("Adj_r2_train" , ":" , i , "," ,
      "Adj_r2_test" ,":" , j)

In [ ]:
#Columns needed to compare metrics
comparison_columns = ['Model_Name', 'Regression Model Score', 'Sample Test Score', 'Training RMSE', 'Testing RMSE', 'Training MAPE' , 'Testing MAPE', 'R2_train', 'R2_test', 'Adj_r2_train','Adj_r2_test']

metric_scores = ['RandomForestRegressorTuned', a, b, c, d, e, f, g, h, i, j]
df5= dict(zip(comparison_columns,metric_scores))

In [ ]:
df5 = pd.DataFrame([df5])

In [ ]:
df5

In [ ]:
comparison_df1 = comparison_df1.merge(df5, how='outer')
comparison_df1

## **7. Model Performance and Evaluation**

In [ ]:
#Taking a look of our final comparison dataframe
comparison_df1

In [ ]:
#visualising our comparison df for Test R2
sns.barplot(y=comparison_df1['Model_Name'], x = comparison_df1['R2_test'])

In [ ]:
#visualising our comparison df for Test R2
sns.barplot(y=comparison_df1['Model_Name'], x = comparison_df1['Regression Model Score'])

In [ ]:
#visualising our comparison df for Test R2
sns.barplot(x=comparison_df1['Sample Test Score'], y = comparison_df1['Model_Name'])

In [ ]:
comparison_df1

In [ ]:
comparison_df1.loc[:,["Model_Name","Sample Test Score","R2_test","Adj_r2_test"]]

**Since R^2 test and Adjusted R^2 test has the same value for decison tree and random forest we have to see some other paramater which will give us a better insight to differentiate between the three models.**

### **Random Forest vs Decision Tree Models**

In [ ]:
#Sample Test Score of the selected models
Decision_Tree_Sts = 0.750223
Random_Forest_Sts = 0.833465
Random_Forest_Tuned_Sts = 0.848593

In [ ]:
#improvement % 
improvement_r = ((Random_Forest_Sts - Decision_Tree_Sts)/Decision_Tree_Sts)*100
print('Model Performance')
print(f'Improvement of {round(improvement_r,3)} % was seen in Random Forest against Decision Tree.')

### **Random Forest Tuned vs Random Forest Models**

In [ ]:
#improvement % of tuned vs simple random forest
improvement_r = ((Random_Forest_Tuned_Sts - Random_Forest_Sts)/Random_Forest_Sts)*100
print('Model Performance')
print(f'Improvement of {round(improvement_r,3)} % was seen in Random Forest Tuned against Simple Random Forest.')

### **Observation**

* Since the R^2 Score and the Adjusted_r^2_Score is similar in two of the three cases and hence we have to shift to the Sample Test Score.
* The Sample Test Score was seen in tuned Random Forest model with the value **0.848593** which was only **1.815 %** improved from a simple random forest model. 
* It seems like we have maxed out on performance with the data and these models.

In [ ]:
features = xl_test.columns
importances = rdfreg.feature_importances_
indices = np.argsort(importances)
plt.figure(figsize=(12,12))
plt.title('Feature Importances', fontsize=20)
plt.barh(range(len(indices)), importances[indices], color='red', align='center')
plt.yticks(range(len(indices)), features[indices])
plt.xlabel('Relative Importance')

### **8. Store wise Sales Predictions**

In [51]:
#importing the pathway for the Rossmann Stores Data.csv
df1 = pd.read_csv('/content/drive/MyDrive/AlmaBetter/Capstone_Project_ML_Regression/test.csv',)
df1.head()

,Date,Store,DayOfWeek,Sales,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,Month,WeekOfYear,DayOfYear,sales_key,AvgSales,cust_key,AvgCustomer,CompetitionOpen,Promo2Open,Promo2running
0,2013-01-01,85,2,4220,0,1.0,1,b,a,1870.0,...,1,1,1,2013185,6613.290323,2013185,930.000000,15.0,24.920548,0
1,2013-01-01,259,2,6851,0,1.0,1,b,b,210.0,...,1,1,1,20131259,6079.354839,20131259,1420.387097,0.0,24.920548,0
2,2013-01-01,259,2,6851,0,1.0,1,b,b,210.0,...,1,1,1,20131259,6079.354839,20131259,511.774194,0.0,24.920548,0
3,2013-01-01,259,2,6851,0,1.0,1,b,b,210.0,...,1,1,1,20131259,5427.290323,20131259,1420.387097,0.0,24.920548,0
4,2013-01-01,259,2,6851,0,1.0,1,b,b,210.0,...,1,1,1,20131259,5427.290323,20131259,511.774194,0.0,24.920548,0

In [52]:
dfd = df1.sample(n=50000, random_state=1)

In [53]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 79585 to 169000
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 50000 non-null  object
 1   Store                50000 non-null  int64
 2   DayOfWeek            50000 non-null  int64
 3   Sales                50000 non-null  int64
 4   Promo                50000 non-null  int64
 5   StateHoliday         50000 non-null  float64
 6   SchoolHoliday        50000 non-null  int64
 7   StoreType            50000 non-null  object
 8   Assortment           50000 non-null  object
 9   CompetitionDistance  50000 non-null  float64
 10  Promo2               50000 non-null  int64
 11  Year                 50000 non-null  int64
 12  Month                50000 non-null  int64
 13  WeekOfYear           50000 non-null  int64
 14  DayOfYear            50000 non-null  int64
 15  sales_key            50000 non-null  int64
 16  AvgSales             50000 non-null  float64
 17  cust_key             50000 non-null  int64
 18  AvgCustomer          50000 non-null  float64
 19  CompetitionOpen      50000 non-null  float64
 20  Promo2Open           50000 non-null  float64
 21  Promo2running        50000 non-null  int64
dtypes: float64(6), int64(13), object(3)
memory usage: 8.8+ MB

In [54]:
#setting date and store as index
dfd.set_index(['Date','Store'],inplace=True)
#sorting index following the time series
dfd.sort_index(inplace=True)

In [55]:
dfd.head()

                  DayOfWeek  Sales  Promo  StateHoliday  SchoolHoliday  \
Date       Store
2013-01-01 85             2   4220      0           1.0              1
           259            2   6851      0           1.0              1
           262            2  17267      0           1.0              1
2013-01-02 12             3   5029      0           0.0              1
           18             3   5143      0           0.0              1

                 StoreType Assortment  CompetitionDistance  Promo2  Year  \
Date       Store
2013-01-01 85            b          a               1870.0       0  2013
           259           b          b                210.0       0  2013
           262           b          a               1180.0       0  2013
2013-01-02 12            a          c               1070.0       1  2013
           18            d          c              13840.0       1  2013

                  Month  WeekOfYear  DayOfYear  sales_key     AvgSales  \
Date       Store
2013-01-01 85         1           1          1    2013185  6613.290323
           259        1           1          1   20131259  5427.290323
           262        1           1          1   20131262  5764.516129
2013-01-02 12         1           1          2    2013112  4287.600000
           18         1           1          2    2013118  4406.933333

                  cust_key  AvgCustomer  CompetitionOpen  Promo2Open  \
Date       Store
2013-01-01 85      2013185   930.000000             15.0   24.920548
           259    20131259  1420.387097              0.0   24.920548
           262    20131262   619.935484              0.0   24.920548
2013-01-02 12      2013112   685.870968              0.0   33.238356
           18      2013118   532.933333             31.0    9.008219

                  Promo2running
Date       Store
2013-01-01 85                 0
           259                0
           262                0
2013-01-02 12                 1
           18                 1

In [56]:
# split features and labels
X = dfd.drop('Sales', axis=1)
y = dfd. Sales

In [57]:
# get dummy variables for categorical features for linear regression
xd = X.copy()
xd = pd.get_dummies(xd)

In [58]:
# label nominal variables for tree based regression
xl = X.copy()

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
xl.StateHoliday = label.fit_transform(xl.StateHoliday)
xl.Assortment = label.fit_transform(xl.Assortment)
xl.StoreType = label.fit_transform(xl.StoreType)

In [59]:
xl.head()

                  DayOfWeek  Promo  StateHoliday  SchoolHoliday  StoreType  \
Date       Store
2013-01-01 85             2      0             1              1          1
           259            2      0             1              1          1
           262            2      0             1              1          1
2013-01-02 12             3      0             0              1          0
           18             3      0             0              1          3

                  Assortment  CompetitionDistance  Promo2  Year  Month  \
Date       Store
2013-01-01 85              0               1870.0       0  2013      1
           259             1                210.0       0  2013      1
           262             0               1180.0       0  2013      1
2013-01-02 12              2               1070.0       1  2013      1
           18              2              13840.0       1  2013      1

                  WeekOfYear  DayOfYear  sales_key     AvgSales  cust_key  \
Date       Store
2013-01-01 85              1          1    2013185  6613.290323   2013185
           259             1          1   20131259  5427.290323  20131259
           262             1          1   20131262  5764.516129  20131262
2013-01-02 12              1          2    2013112  4287.600000   2013112
           18              1          2    2013118  4406.933333   2013118

                  AvgCustomer  CompetitionOpen  Promo2Open  Promo2running
Date       Store
2013-01-01 85      930.000000             15.0   24.920548              0
           259    1420.387097              0.0   24.920548              0
           262     619.935484              0.0   24.920548              0
2013-01-02 12      685.870968              0.0   33.238356              1
           18      532.933333             31.0    9.008219              1

In [60]:
xl.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 50000 entries, ('2013-01-01', 85) to ('2015-07-31', 1115)
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DayOfWeek            50000 non-null  int64
 1   Promo                50000 non-null  int64
 2   StateHoliday         50000 non-null  int64
 3   SchoolHoliday        50000 non-null  int64
 4   StoreType            50000 non-null  int64
 5   Assortment           50000 non-null  int64
 6   CompetitionDistance  50000 non-null  float64
 7   Promo2               50000 non-null  int64
 8   Year                 50000 non-null  int64
 9   Month                50000 non-null  int64
 10  WeekOfYear           50000 non-null  int64
 11  DayOfYear            50000 non-null  int64
 12  sales_key            50000 non-null  int64
 13  AvgSales             50000 non-null  float64
 14  cust_key             50000 non-null  int64
 15  AvgCustomer          50000 non-null  float64
 16  CompetitionOpen      50000 non-null  float64
 17  Promo2Open           50000 non-null  float64
 18  Promo2running        50000 non-null  int64
dtypes: float64(5), int64(14)
memory usage: 7.5+ MB

In [61]:
# split training and test datasets from the new sample
from sklearn.model_selection import train_test_split
xd_train,xd_test,yd_train,yd_test = train_test_split(xd,y,test_size=0.3, random_state=1)
xl_train,xl_test,yl_train,yl_test = train_test_split(xl,y,test_size=0.3, random_state=1)

In [62]:
from sklearn.ensemble import RandomForestRegressor
rdf = RandomForestRegressor(n_estimators=130, max_depth = 90, bootstrap=False, max_features='sqrt', min_samples_leaf=1, min_samples_split= 8)
rdfreg = rdf.fit(xl_train, yl_train)

In [63]:
#predictions 
y_pred_test = rdfreg.predict(xl_test)
df = yl_test.copy()

In [64]:
df = pd.DataFrame(df)
df

                  Sales
Date       Store
2014-04-07 393     5261
2014-10-08 576     7693
2014-09-26 751     2459
2013-11-02 795     5237
2013-08-09 53      5221
...                 ...
2013-09-28 564     4786
2015-03-09 268     4301
2014-11-22 193     4133
2013-04-15 59      4449
2013-07-19 105     4153

[15000 rows x 1 columns]

In [65]:
df['Pred_Sales'] = y_pred_test.tolist()

In [68]:
df[:5]

                  Sales   Pred_Sales
Date       Store
2014-04-07 393     5261  4850.222289
2014-10-08 576     7693  7176.519542
2014-09-26 751     2459  3630.785275
2013-11-02 795     5237  3939.086832
2013-08-09 53      5221  5694.407363

In [69]:
#locating
df.loc[('2013-01-31',231)]

                  Sales   Pred_Sales
Date       Store
2013-01-31 231     4411  4669.853388

# **9. Conclusion and Recommendations**

## **Conclusion**

Businesses use sales forecasts to determine what revenue they will be generating in a particular timespan to empower themselves with powerful and strategic business plans. Important decisions such as budgets, hiring, incentives, goals, acquisitions and various other growth plans are affected by the revenue the company is going to make in the coming months and for these plans to be as effective as they are planned to be it is important for these forecasts to also be as good.

he work here forecasts the sales of the various Rossmann stores across Europe  and compares the results from the models developed with the actual sales values.

Some important conclusions drawn from the analysis are as follows:
* There were more sales on Monday, probably because shops generally remain closed on Sundays which had the lowest sales in a week. This validates the hypothesis about this feature.
* **The positive effect of promotion on Customers and Sales is observable**.
* Most stores have competition distance within the range of **0 to 10 kms** and had more sales than stores far away probably indicating competition in busy locations vs remote locations.
* **Store type B** though being few in number had the **highest sales average**. The reasons include all three kinds of assortments specially assortment level b which is only available at type b stores and being open on sundays as well.
* The outliers in the dataset showed justifiable behaviour. The outliers were either of store type b or had promotion going on which increased sales.
* **Random Forest Tuned Model gave the best results** and only **1.815 %** improvement was seen from the basic random forest model which indicates that all the trends and patterns that could be captured by these models without overfitting were done and maximum level of performance achievable by the model was achieved.

**Recommendations**
* More stores should be encouraged for promotion. 
* Store type B should be increased in number.
* There's a seasonality involved, hence the stores should be encouraged to promote and take advantage of the holidays.